[submodule "third_party/hdl_string_format"]
	path = third_party/hdl_string_format
	url = https://github.com/suoto/hdl_string_format
[submodule "third_party/wb2axip"]
	path = third_party/wb2axip
	url = https://github.com/ZipCPU/wb2axip
