{
    "sources": [
        "rtl/*.vhd",
        [
            "testbench/**/*.vhd",
            {
                "flags": [
                    "-2008"
                ]
            }
        ],
        [
            "third_party/**/*.vhdl",
            {
                "flags": [
                    "-2008"
                ]
            }
        ],
        "third_party/**/*.vhd",
        "third_party/**/*.v"
    ]
}
